@use '@angular/material' as mat;
@use './styles/print.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @include mat.theme(
    (
      color: (
        theme-type: dark,
        primary: mat.$orange-palette,
        tertiary: mat.$red-palette,
      ),
      typography: (
        plus-jakarta-sans,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
      ),
      density: 0,
    )
  );
}

html,
body {
  height: 100%;
  margin: 0;
  font-size: 16px;
}

body {
  background-color: #0f0f0f;
}

.toast-success {
  --mdc-snackbar-container-color: #16a34a;
  --mdc-snackbar-supporting-text-color: #ffffff;
}

.toast-error {
  --mdc-snackbar-container-color: #dc2626;
  --mdc-snackbar-supporting-text-color: #ffffff;
}

.toast-info {
  --mdc-snackbar-container-color: #2563eb;
  --mdc-snackbar-supporting-text-color: #ffffff;
}
